<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
   <!-- Contiene todas las propiedades y mapeos necesarios, objeto principal que usa Hibernate para
   conectarse a la bbdd y gestionar las sesiones--> 
    <session-factory>
        
        <!-- Configuración de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurante_db</property>
        <property name="hibernate.connection.username">root</property>
        <!-- <property name="hibernate.connection.password">Med@c</property> -->
        <property name="hibernate.connection.password">Medac</property>
        
        <!-- Dialecto, se necesita saber como traducir su SQL genérico al SQL específico de nuestra bbdd -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <!-- Crear o actualizar tablas según las clases mapeadas(sin borrar datos) -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Mostrar en la terminal las sentencias SQL que ejecuta hibernate y las formatea
        para que sea legible -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        
        <!-- Fichero de mapeo -->
        <mapping resource="cliente.hbm.xml"/>
        <mapping resource="mesa.hbm.xml"/>
        <mapping resource="reserva.hbm.xml"/>
        <mapping resource="restaurante.hbm.xml"/>
        <mapping resource="servicio_extra.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>